.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
    max-width: 1273px;
}

.hover:hover{
    cursor: pointer;
}